
<br />
<img src="~/images/adminarea.jpg" alt="Area de administração" class="marginTop1"/>

<div class="container">
    <div class="jumbotron">
        <p>
            <h2>
                Está é a Area do ADM
            </h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Pagina Principal</a>
</div>